	body {
		background-image: url("../img/background.jpg");
		background-repeat: no-repeat;
		cursor: crosshair;
	}

	#main-container {
	}

	h2 {
		font-family: Arial, Helvetica, sans-serif;
		color: white;
	}

	#box-1 {
		width: 121px;
		height: 121px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 84px;
  			left: 271px;
	}

	#box-2 {
		width: 121px;
		height: 121px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 23px;
  			left: 480px;
	}

	#box-3 {
		width: 121px;
		height: 121px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 23px;
  			left: 726px;
	}

	#box-4 {
		width: 121px;
		height: 121px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 23px;
  			left: 1014px;
	}
	#box-5 {
		width: 121px;
		height: 121px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 322px;
  			left: 317px;
	}
	#box-6 {
		width: 121px;
		height: 121px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 230px;
  			left: 521px;
	}
	#box-7 {
		width: 121px;
		height: 121px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 248px;
  			left: 726px;

	}
	#box-8 {
		width: 121px;
		height: 121px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 226px;
  			left: 946px;
	}
	#box-9 {
		width: 121px;
		height: 121px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 440px;
  			left: 552px;
	}
	#box-10 {
		width: 121px;
		height: 121px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 415px;
  			left: 1022px;
	}

	#dj-kitty {
		width: 221px;
		height: 121px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 515px;
  			left: 750px;
  		cursor: pointer;
	}

	#cat-head {
		width: 140px;
		height: 121px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 70px;
  			left: 75px;
  		cursor: pointer;
	}

	#cat-belly {
		width: 180px;
		height: 250px;
		padding: 5px;
		border: 1px solid transparent;
		margin: 5px;
		position: fixed;
  			top: 250px;
  			left: 100px;
  		cursor: pointer;

	}

	#starter {
    	background-color: gray;
    	border-radius:0px;
    	width: 120px;
    	color: white;
    	font-family: 'Arial';
    	font-size: 32px;
	    text-decoration: none;
	    cursor: pointer;
	    border:none;
}



	#starter:hover {
    	border: none;
    	background:black;
    	box-shadow: 0px 0px 1px #777;
}

	.active {
		width: 125px;
		height: 125px;
		background-image: url('../img/cat1.gif');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}